<div class="container-fluid ecom-header-row">

  <!-- .ecom-nav-col -->
  <div class="col-lg-12 ecom-nav-col">
  
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div (click)="mobileNavToggle();" class="ecom-mobile-icon">
        <span>
          <i class="material-icons">
            view_headline
          </i>
        </span>
        <span>
          Menu
        </span>
      </div>
      <a class="navbar-brand" routerLink="/home" >BestDeal</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">
              <i class="material-icons">home</i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link ecom-custom-nav-link" routerLink="/shop">Notre catalogue</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ecom-custom-nav-link" routerLink="/about">Qui sommes-nous ?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ecom-custom-nav-link" routerLink="/contact">Contact</a>
        </li>
        </ul>
        
        <form class="form-inline">
          <input class="form-control" type="search" placeholder="Rechercher par titre" disabled="disabled">
        </form>
        
        <div class="ecom-home-cart-wrapper" (click)="cartToggle();">
          <span>Votre panier</span>
          <i class="material-icons">shopping_cart</i>
          <div class="ecom-cart-items-nb">{{catLength}}</div>
        </div>
        <div class="ecom-home-cart-wrapper d-none d-none d-lg-block">
          <span>Votre profil</span>
            <i class="material-icons ecom-header-profil">person</i>
        </div>
    </nav>

  </div>
  <!-- /.ecom-nav-col -->
 
  <app-mobile-nav [ngClass]="mobileNavVis ? 'ecom-show-cart' : 'ecom-hide-cart'"></app-mobile-nav>
 
  <app-cart [ngClass]="isVisible ? 'ecom-show-cart' : 'ecom-hide-cart'" (valueChange)='cartStatus($event)'></app-cart>
</div>