<footer>
  <div class="container-fluid ecom-footer">
      
    <div class="container ecom-no-padding">
      <div class="row ecom-no-padding">

        
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <app-comments [parentWidgetId]="footerSocialId"></app-comments>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">

          <app-social [parentId]="footerSocialId"></app-social>
            
          <div class="ecom-footer-nav">
            <h6>Nos pages :</h6>
            <a routerLink="/home">Home</a>
            <a routerLink="/shop">Notre catalogue</a>
            <a routerLink="/about">Qui sommes-nous ?</a>
            <a routerLink="/contact">Contact</a>
            <a routerLink="/profil">Profile</a>
          </div>

        </div>
        
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5"> 
          <app-newsletter></app-newsletter>
          <app-infos></app-infos>
        </div>

      </div>
    </div>
  </div>
</footer>
