<footer>
  <div class="container-fluid ecom-footer">
      
    <div class="container ecom-no-padding">
      <div class="row ecom-no-padding">

        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <h6 style="color:#e40046;margin-top:15px;margin-bottom:0px!important;">Nos produits :</h6>
          <app-products-widget></app-products-widget>
        </div>

        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
          <app-comments [parentWidgetId]="footerSocialId"></app-comments>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">

          <app-social [parentId]="footerSocialId"></app-social>
            
          <div class="ecom-footer-nav">
            <h6>Nos pages :</h6>
            <a routerLink="/home" style="display:block">Notre catalogue</a>
            <a routerLink="/about" style="display:block">Qui sommes-nous ?</a>
            <a routerLink="/contact" style="display:block">Contact</a>
          </div>

        </div>
        
      </div>
    </div>
  </div>
</footer>
