/*footer.componenet.scss*/
@import "../variables.scss";
footer{
    margin-top:50px!important;
    .ecom-footer{
        min-height:250px;
        background-color: $secondary-bg-color;
        h4{color:$txt-first-color;}
    }
}
