/*footer.componenet.scss*/
@import "../variables.scss";
footer{
    h6{
        font-size:1.2em!important;
        color:$txt-first-color;;
    }
    margin-top:50px!important;
    .ecom-footer{
        min-height:250px;
        background-color: $secondary-bg-color;
        h4{color:$txt-first-color;}
        .ecom-footer-nav{
            a{color:$txt-first-color!important;text-decoration: none;}
        }
    }
    /**/
    .ecom-no-padding{
        padding-left:0px!important;
        padding-right: 0px!important;
    }
}
