<div class="ecom-news-wrapper" *ngIf="widgetStatus">
  <div class="ecom-news-nav-wrapper">
    <div (click)="setRowStatus(firstRowStatus,secRowStatus);">
      <i class="material-icons">keyboard_arrow_left</i>
    </div>
    <div (click)="setRowStatus(firstRowStatus,secRowStatus);">
      <i class="material-icons">keyboard_arrow_right</i>
    </div>
  </div>
  <!-- .row -->
  <div class="row" *ngIf="firstRowStatus">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" *ngFor="let item of firstRowData;let i = index">
      <div class="ecom-news-item-wrapper">
        <div>      
          <figure>
            <img src="{{item.img}}" alt="{{item.title}}">
            <figcaption>
              <i class="material-icons" routerLink="/blog">
                zoom_in
              </i>
            </figcaption>
            
          </figure>
    
          <span class="ecom-news-title">{{item.title}}</span>
          <br>
          <span class="ecom-news-date"><strong>Publié le : </strong> {{item.date}}</span>  
        </div>
        <p>
          {{item.txt}} 
        </p>
      </div>
    </div>
  </div>
  <!-- /.row -->
  <!-- .row -->
  <div class="row" *ngIf="secRowStatus">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" *ngFor="let item of secRowData;let i = index">
      <div class="ecom-news-item-wrapper">
        <div>      
          <figure>
            <img src="{{item.img}}" alt="{{item.title}}">
            <figcaption>
              <i class="material-icons" routerLink="/blog">
                zoom_in
              </i>
            </figcaption>
            
          </figure>
    
          <span class="ecom-news-title">{{item.title}}</span>
          <br>
          <span class="ecom-news-date"><strong>Publié le : </strong> {{item.date}}</span>  
        </div>
        <p>
          {{item.txt}} 
        </p>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
