
<div class="ecom-social-col ecom-social-first">
    <h6 [ngStyle]="{'color':setTitleColor(socialDefaultId) }">
        Social :
    </h6>
</div>
<div [ngStyle]="{'display':setCompDisplay(socialDefaultId) }">
    <div class="ecom-social-col" [ngStyle]="{'display':setCompDisplay(socialDefaultId) }">
        <i class="material-icons" [ngStyle]="{'color':setCompColor(socialDefaultId) }">share</i>
    </div>
    <div class="ecom-social-col" [ngStyle]="{'display':setCompDisplay(socialDefaultId) }">
        <i class="material-icons" [ngStyle]="{'color':setCompColor(socialDefaultId) }">thumb_up_alt</i>
    </div>
</div>

