@import "../../variables.scss";
.ecom-social-col{
    display: inline-block!important;
    margin-top:15px;
    font-family:$main-font;
    line-height :2em;
    vertical-align: middle;
    h6{
        font-size:1.2em!important;
    }
    i{font-size:2em;}
    i:hover{cursor: pointer;}
}
.ecom-social-col .ecom-social-first{margin-left:0px!important;}