<div class="container ecom-page-margin-top">
  <div class="row">
    <div class="col-lg-8 ecom-about-main-container">

      <h4 class="ecom-p-title">Qui sommes-nous ?</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Pellentesque placerat nunc ac odio pharetra, vitae sagittis odio convallis. 
        Vivamus vestibulum nec mauris in tempus. Sed urna ante, molestie convallis facilisis et, 
        imperdiet quis nisl. Phasellus vel odio quis ex convallis faucibus vitae in augue. 
        Donec id nibh sed enim tincidunt elementum. Fusce tristique ultricies consectetur. 
        In eget velit risus. Nullam congue vehicula neque, eget egestas ex sollicitudin ut. 
        Maecenas varius efficitur eros. Etiam tortor eros, finibus quis erat id, mattis ornare tellus. 
        Ut gravida tristique semper. Integer mattis justo sed consequat vehicula. 
        Phasellus a leo nec felis imperdiet pretium a quis neque. Vivamus dignissim, dolor dignissim auctor euismod, 
        elit sapien aliquam orci, tincidunt sollicitudin sem nisi porta orci.
      </p>
      <!-- <h4 class="ecom-p-title"> Adresse :</h4> -->
      <h4 class="ecom-p-title"> Contacts :</h4>
      <div>
        <i class="material-icons">
          phone
        </i>
        <span>Tél :</span>
        <span>0144512010</span>
      </div>
      <div>
        <i class="material-icons">
          stay_primary_portrait
        </i>
        <span>Mobile :</span>
        <span>0644512010</span>
      </div>
      <div>
        <i class="material-icons">
          mail_outline
        </i>
        <span>Email :</span>
        <span>perso@mail.com</span>
      </div>
      <br>
      <h4>S.A.V :</h4>
      <app-team></app-team>
    
    </div>
  </div>

</div>
