@import "../../variables.scss";
.ecom-infos-container{
    margin-left:3px; 
    margin-top: 15px;
    .col-lg-12{
        h6{
            font-size:1.2em!important;
            color:$txt-sec-color!important;
        }
    }
    .col-lg-4{
        text-align: center;
        div{
            i{color:$txt-first-color;font-size: 2.5em;}
        }
        div{
            span{color:$txt-sec-color!important;}
        }
    }
}