<div class="row ecom-infos-container" style="">
  
  <div class="col-lg-12"><h6>Nos engagements :</h6></div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div>
      <i class="material-icons">local_shipping</i>
    </div>
    <div>
      <span>48h</span>
    </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div>
      <i class="material-icons">credit_card</i>
    </div>
    <div>
      <span>C.B</span>
    </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div>
      <i class="material-icons">https</i>
    </div>
    <div>
      <span>Https</span>
    </div>
  </div>

</div>
