@import "../../variables.scss";
form{
    .ng-valid{
        border: solid #82af3c 1px;
    }
 
    button:disabled{
        cursor:not-allowed;
    }
    label{color:$sec-color;}
    .ecom-title-wrapper{padding:0px!important;}
    button{
        color:$txt-first-color;
        background-color:$main-bg-color;
        border-color:$main-color!important;
    }
    button:hover{
        background-color:$secondary-bg-color;
        border-color:$sec-color!important;
    }
}