@import "../../variables.scss";
.ecom-newsletter-container{
    margin-top:15px;
    h6{color:$txt-sec-color!important;font-size:1.2em!important;}
    
    button{
        margin-top:10px;
        color:$txt-first-color;
        background-color:$main-bg-color;

        span.ecom-newsletter-icon{
            i{
                position:relative;
                top:3px;
                font-size:1.2em!important;
                color:$txt-first-color;
            }
        }
            
    }
    
    
    
}