@import "../../variables.scss";
@keyframes slide {
    0% {left: 0%;}
    90%{left:-80%}
    100%{left:0%;}
}
.ecom-slider{
    width:300px;
    height :auto;
    overflow: hidden;
    display:inline-block;
    font-family: $main-font;
    .ecom-slider-wrapper{
        width:1350px;
        figure.ecom-slider-item{
            display:inline-block;
            width:150px;
            text-align: center;
            margin-left : 40px;
            position: relative;
            left: 0;
            text-align: left;
            font-size: 0;
            animation: 20s slide infinite;
            img{width:150px;}
            h6{margin-top:10px;color:$txt-sec-color;font-weight:600;}
        }
        figure:hover{cursor:pointer;}
    } 
}
.ecom-slider-title{color:$sec-color;font-size:1.2em!important;margin-bottom:15px;margin-top:15px;}