@import "../variables.scss";
.ecom-contact-container{
    margin-top:50px;
    min-height:80vh;
    font-family: $main-font;
    h4{color:$txt-sec-color!important;}
    .ecom-contact-team-row{
        margin-top:45px;
        .ecom-about-contact-container{
            margin-bottom:15xp;
        }
    }
}