<!-- breadcrumb -->
<app-breadcrumb [pageName]="page"></app-breadcrumb>
<!-- breadcrumb -->
<div class="container ecom-contact-container">
  <!--.row-->
  <div class="row">
    <div class="col-lg-8">
      <h4 class="ecom-p-title">Contact</h4>
      
      <div class="row ecom-contact-form-wrapper">
        <app-contact-form></app-contact-form>
      </div>

      <div class="row ecom-contact-team-row">
        <div class="col-lg-12 ecom-about-contact-container">
            <h4>Notre équipe :</h4>
            <app-team [emittedPrantId]="widgetTeamId"></app-team>
        </div>
      </div>
      <br>
      
    </div>

    <div class="col-lg-4">

      <app-sidebar></app-sidebar>

    </div>
  </div>
  <!--/.row-->
</div>
