@import "../../variables.scss";
.ecom-m-nav-row{
    position:absolute;
    top:49px;
    left:0px;
    min-height:50vh;
    z-index:2000;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: #FFF;
    ul {
        li{
            a{
                margin-top:15px;
                color : $sec-color;
                font-size:1.4em;
            }
        }
    }
}
/************
Responsive
************/
@media (min-width:320px) and (max-width:991px){
    .ecom-m-nav-row{width:100%;  }
}
@media (min-width:992px) and (max-width:1199px){
    .ecom-m-nav-row{min-width:25vw;width:auto;}
}
@media (min-width:1200px) and (max-width:1600px){
    .ecom-m-nav-row{min-width:25vw;width:auto;}
}
@media (min-width:1601px){
    .ecom-m-nav-row{min-width:25vw;width:auto;}
}