/*Bg colors*/
$main-bg-color:#e40046;
$secondary-bg-color:#333;
$white-bg:#FFF;
/*Txt colors*/
$txt-first-color:#FFF;
$txt-sec-color:#e40046;
/*Colors*/
$main-color:#e40046;
$sec-color:#333;
/*Fonts*/
$main-font:'Open Sans', sans-serif!important;