@import "../../variables.scss";
.ecom-sidebar-posts-wrapper{
    width:100%;
    height:auto;
    display: inline-block;
    h6{
        color:$sec-color;
        font-family: $main-font;
        font-size:1.2em;
    }
    .ecom-posts-nav-wrapper{
        div{
            right:0px;
            display:inline-block;
            background-color:#efefef;
            border-radius:4px;
            i{  
                padding:10px;
                font-size:1.2em!important;
            }
        }
        div:hover{
            cursor: pointer;
            background-color:$secondary-bg-color;
            i{
                color:$txt-sec-color;
            }
        }
    }
    .ecom-posts-item-wrapper{
        box-shadow:0px 0px 0.5px 1px rgba(41, 41 , 41, .2);
        border-radius:4px;
        text-align: justify;
        figure{
            margin-top:10px;
            height:198px;
            overflow: hidden;
            img{
                width:100%;
                height:auto;
            }
        }
        span{
            font-family: $main-font;
        }
        .ecom-post-title{
            font-family: $main-font;
            font-size:1.1em;
            color:$txt-sec-color;
            font-weight: 600;
        }
        .ecom-post-date{
            font-size:0.8em;
            font-family: $main-font;
            color:$sec-color;
        }
        p{
            margin-top:15px;
            font-family: $main-font;
            color:$sec-color;
        }
        span, p, .ecom-news-date, .ecom-news-title{
            padding-left:10px;
            padding-right:10px;
            padding-bottom:10px;
        }
    }
    
}
/************
Responsive
************/
@media (min-width:320px) and (max-width:991px){
    .ecom-posts-nav-wrapper{
        position: relative;
        left:0px;
        top:0px;
    }
}
@media (min-width:992px) and (max-width:1199px){
    .ecom-posts-nav-wrapper{
        position: relative;
        right:-238px;
        top:0px;
    }
}
@media (min-width:1200px){
    .ecom-posts-nav-wrapper{
        position: relative;
        right:-268px;
        top:0px;
    }
}
