<div class="container ecom-profil-container">
    <!-- .row -->
    <div class="row">
      
      <!--.col-lg-8-->
      <div class="col-lg-8">
        <h4 class="ecom-p-title">Profile</h4>
        
        <!--.ecom-profil-nl-row-->
        <div class="row ecom-profil-nl-row">
          <h6>Newsletter :</h6>
          <div class="col-lg-12">
            <span *ngIf="newsletterStatus">Vous êtes déjà inscrit à notre newsletter.</span>
            <span *ngIf="!newsletterStatus">Vous n'êtes pas inscrit à notre newsletter.</span>
          </div>
          <div class="col-lg-12" *ngIf="newsletterStatus">
            <span>Date d'inscription :</span>
            <span>{{userNlInfos.date}}</span>
          </div>
          <div class="col-lg-12" *ngIf="newsletterStatus">
            <span>Votre email :</span>
            <span>{{userNlInfos.email}}</span>
          </div>
        </div>
        <!--/.ecom-profil-nl-row-->
        
        <!--.ecom-profil-contact-row-->
        <div class="row ecom-profil-contact-row">
            <h6>Messages :</h6>
            <div class="ecm-profil-msg-count">
              {{profilInfos.count}}
            </div>
            <div class="col-lg-12">
              <span *ngIf="profilStatus">Vous avez envoyé {{profilInfos.count}} message(s).</span>
              <span *ngIf="!profilStatus">Vous n'avez pas encore envoyé de message.</span>
            </div>
            <div class="col-lg-12" *ngIf="profilStatus">
              <span>Date :</span>
              <span>{{profilInfos.date}}</span>
            </div>
            <div class="col-lg-12" *ngIf="profilStatus">
              <span>Votre nom :</span>
              <span>{{profilInfos.name}}</span>
            </div>
            <div class="col-lg-12" *ngIf="profilStatus">
              <span>Votre email :</span>
              <span>{{profilInfos.email}}</span>
            </div>
            <div class="col-lg-12" *ngIf="profilStatus">
              <span>Votre adresse :</span>
              <div>{{profilInfos.address}}</div>
              <div>{{profilInfos.address2}}</div>
              <div>{{profilInfos.zip}}</div>
              <div>{{profilInfos.city}}</div>
            </div>
          </div>
          <!--/.ecom-profil-contact-row-->
        
      </div>
      <!--.col-lg-8-->

      <div class="col-lg-4">

        <app-sidebar></app-sidebar>

      </div>
      
    </div>
    <!-- /.row -->
  </div>
  