<div class="container ecom-profil-container">
    <!-- .row -->
    <div class="row">
      <!--.col-lg-8-->
      <div class="col-lg-8">
        <h4 class="ecom-p-title">Profile</h4>
        <!-- .row -->
        <div class="row ecom-profil-nl">

          <div class="col-lg-5">
              <h6>Déjà inscrit à notre newsletter ? </h6>
          </div>

          <div class="col-lg-7">
            
            <div class="alert alert-success" style="width:20%;">
                Oui
            </div>

            <div class="alert alert-warning" style="width:20%;">
              Non
            </div>

          </div>

        </div>
        <!-- /.row -->
        <!-- .row -->
        <div class="row ecom-profil-nl">

          <div class="col-lg-5">
            <h6>Date d'inscription : </h6>
          </div>
  
          <div class="col-lg-7">
            le 24/06/18
          </div>
  
        </div>
        <!-- /.row -->
      </div>
      <!--.col-lg-8-->

      <div class="col-lg-4">

        <app-sidebar></app-sidebar>

      </div>
      
    </div>
    <!-- /.row -->
  </div>
  