@import "../../variables";
.ecom-cart-best-deal-col{
    width:100%!important;
    padding-left:15px; 
    padding-right:15px;
    text-align:center;
    margin-top:15px;
    margin-bottom:15px;
    font-family: $main-font;
    h2{
        display:inline-block;
        color:$txt-sec-color
    }
    h3{
        display:inline-block;
        margin-left: 2%;
        font-size:1.8rem;
        font-weight:600;
        color:$sec-color;
    }
}