@import "../variables.scss";
.ecom-modal-row{
    .ecom-modal-price{color:$txt-sec-color;}
    .ecom-modal-stock{
        color:green;
        
        i{font-size:0.8em!important;padding-right:10px;}
    }
    
}
