<div class="row ecom-modal-row">
  <!-- .col-lg-4 --> 
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
    <img src="{{data.cover}}" alt="data.title" class="rounded-left" style="width:100%;height:auto;">
  </div>
  <!-- /.col-lg-4 -->
  <!-- .col-lg-8 -->
  <div class="col-lg-8 col-md-6 col-sm-6 col-xs-6">
    <h5 class="ecom-modal-title">{{data.title}}</h5>
    <h5 class="ecom-modal-price" style="color:#e40046;">Prix : {{data.price}} &euro;</h5>
    <div class="ecom-modal-stock" style ="color:green;">En stock</div>
    <h6 style="margin-top:15px;">Synopsis :</h6>
    <p style="text-align:justify;">
        {{data.synopsis}}
    </p>
    <div class="col-lg-12 ecom-modal-social-row">
      <app-social [parentId]="modalSocialId"></app-social>
    </div>
  </div>
  <!-- /.col-lg-8 -->

</div>