@import "../variables.scss";
.ecom-home-slider-container{
    height:485px;
    background-color:#f8f9f9;
}
.ecom-home-marketing-container{
    margin-top:30px;
    padding-top:50px;
    padding-bottom:50px;
    background-color:#f8f9f9;
}
.ecom-home-team-container{
    margin-top:30px;
    h4{
        color:$txt-sec-color;
    }
}