<div class="container-fluid ecom-home-slider-container">
  <app-slider></app-slider>
</div>
<!--.ecom-team-container -->
<div class="container-fluid">
  <app-featured></app-featured>
</div>
<!--/.ecom-team-container -->
<!--.ecom-team-container -->
<div class="container-fluid ecom-home-marketing-container">
  <app-marketing [parentId] = "1"></app-marketing>
</div>
<!--/.ecom-team-container -->
<!--.ecom-home-team-container -->
<div class="container ecom-home-team-container">
  <div class="row">
    <div class="col-lg-12">
        <h4 style="">Notre équipe :</h4>
        <app-team [emittedPrantId]="1"></app-team>
      </div>
  </div>
</div>
<!--/.ecom-home-team-container -->
<!--.ecom-home-posts-container -->
<div class="container ecom-home-posts-container">
  <div class="row">
    <div class="col-lg-12">
      <h4>Notre actualité :</h4>
    </div>
  </div>
</div>
<!--/.ecom-home-posts-container -->
