<div class="container-fluid ecom-home-slider-container">
  <app-slider></app-slider>
</div>
<!--.ecom-team-container -->
<div class="container-fluid">
  <app-featured></app-featured>
</div>
<!--/.ecom-team-container -->
<!--.ecom-team-container -->
<div class="container-fluid ecom-home-marketing-container">
  <app-marketing [parentId] = "1"></app-marketing>
</div>
<!--/.ecom-team-container -->
<div class="container ecom-home-team-container">
  <div class="row">
    <div class="col-lg-12 ecom-about-main-container">
        <h4 style="margin-bottom:15xp;">Notre équipe :</h4>
        <app-team></app-team>
      </div>
  </div>
</div>
